.hovermoncss::hover {
    background-color: rgba(0, 0, 0, 0.603) !important;
}
.hovermoncss {
    background-color: white;
}

/* .bgimage {
    background-image: url(../img/istockphoto-1266832146-612x612.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
} */

.over {
    overflow-y: scroll !important;
    max-height: 25vh !important;
    background-color: aqua !important;
}

.hidden {
    visibility: hidden;
    display: none;
}

/* Styles pour la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
